= bootstrap_form_for [lesson.course,lesson]  do |f|
	=f.text_field :title , required: true
	=f.text_field :description
	=f.text_area :content 
	=f.text_field :extern_video_url, label: "Extern Video Url (Youtube, Dailymotion, Vimeo)"
	=f.submit "Save" , class: "btn btn-primary"