
.row
	.col-md-8
		.panel.panel-default
			.panel-heading
				=lesson.title
				%span.pull-right
					=lesson.edit_link
					=lesson.destroy_link
			.panel-body.lesson-content
				=lesson.content
			.panel-heading
				Timestamps
	.col-md-4
		.row
			=render 'description'
		.row
			=render 'test'
		.row
			=render 'attachements'
		
