%tr{id:"#{course.idText}"}
	%td
		= link_to course.title , course_path(course)
		%span.pull-right	
			= tag_label course.edit_link , :success
			= tag_label course.destroy_link(remote: true), :danger
