%div.row
	%div.col-md-8
		%div.panel.panel-default
			%div.panel-heading= @course.title
			%div.panel-body= @course.description
			%div.panel-footer
				%span
					=course.edit_link
					=course.destroy_link
	%div.col-md-4
		%div.panel.panel-default
			%div.panel-heading Lessons
			%div.panel-body
				=course.lessonsCount
			%div.panel-footer
				=course.newLessonLink