%span User
%strong= link_to activity.owner.displayName, activity.owner
%span commented on
%strong= link_to activity.trackable.course.title
%span course: <br>
%blockquote
  %p= activity.trackable.description