.user-correct-answer {
  color: green;
}

.user-incorrect-answer {
  color: red;
}

.submit-btn {
  border-radius: 0;
  margin: 0 3px 3px 3px;
}

.list-group-item {
  border-left: none;
  border-right: none;
}

.list-group-item-text {
  padding-left:5px;
}
