!!!
%html
  %head
    = Gon::Base.render_data({})
    %meta{:charset => "utf-8"}/
    %title E-Learning
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render 'layouts/header'
    %div.container#container
      =bootstrap_flash
      =yield
    =render 'layouts/footer' unless @skip_footer
